h1 {
    color: red;
}

.kotak-satu{
    padding: 20px;
    margin: 10px;
    border: 2px;
    background-color: lightblue;
}

.kotak-dua {
    padding: 20px;
    margin: 10px;
    border: 2px solid red;
    background-color: palegreen;
    max-width: 50%;
}

.kotak-tiga {
    padding: 50px;
    margin-top: 50px;
    margin-left: 50px;
    border-left: 2px dotted red;
    background-color: burlywood;
    width: 300px;
    height: 200px;
}

div {
    width: 300px;
    height: 200px;
    padding: 15px;
    border: 5px solid gray;
    margin: 30px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

 div {
        width: 300px;
        height: 200px;
        padding: 15px;
        border: 5px solid gray;
        margin: 30px;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }


